#login {
    background: -webkit-linear-gradient(left, rgb(0, 221, 250), rgb(218, 70, 218));
    padding: 10px 42% 10px 42%;
    border-radius: 20px;
    color: white;
}


.hello {
    background-image: url("../assets/bbgg.jpg");
    background-size: cover;
    position: fixed;
    height: 1000px;
    width: 100%;
    color: gray;
    font-family: sans-serif;
    font-size: smaller;
}

.f1 {
    background-color: white;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    left: 37%;
    top: 5%;
    height: 520px;
    width: 320px;
}


a {
    text-decoration: none;
    color: gray;
}

#r1 {
    position: relative;
    float: right;
}

#s1 {
    position: absolute;
    left: 20%;
}

#submit {
    padding: 10px 100px 10px 80px;
    background-color: #7b268b;
    color: white;

}

input {
    border: 0;
}

textarea:focus,
input:focus {
    outline: none;
}

.ff2 {
    position: absolute;
    top: 60%;
    left: 30%;
}

.or {
    position: absolute;
    transform: translate(10%);
}

h1 {
    position: absolute;
    left: 40%;
}

.f2 {
    overflow: hidden;
    position: relative;
    height: 600px;
}

.f1 form {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}